body{
    background-color: #0d1216;
}
.Padre-clase{
    margin-top: 5%;
    width: 100%;
    font-family: sans-serif;
    flex-direction: column;
}



.portada{   
    border:1px solid #0d1216;
    box-sizing: border-box;
    width: 65%;
    margin: 5px auto;
    height: 80vh;
    background-image: url(Social_Media_Background.jpg);
    background-size: cover;
    background-position: center;
}
.contenido{
    height: 60%;
    width: 100%;
    display: inline-flex;
}
.barra-de-nav{
    display: flex;
    padding: 10px 50% 10px 30px;
    justify-content: flex-start;
}
.home-nav{
    padding: 10px 15px;
    background-color: #1A1A1A;
    color: #fff;
    text-decoration: none;
    margin-right: 1%;
}
.home-nav:hover{
    background-color:#636363 ;
}
.buscar-nav{
    padding: 5px 10px;
    margin-right: 0;
    border: 0;
}
.input-nav{
    border: 0;
    margin-left: 0;
    padding-right: 40px;
}
.derecha-div-portada{
    box-sizing: border-box;
    font-size: 40px;
    padding-top: 7%;
    border: 2px solid #BDBDBD;
    color: #fff;
    margin:  0% 3% 0 3%;
    height: 74vh;
    width: 100%;
}
.izquierda-div-portada{
    margin-top: 15%;
    background-size: cover;
    margin-left: 2%;
    width: 100%;
    color: #fff;


}



















.Introduccion{
    border:1px solid #0d1216;
    background-color: #EDF0F2;
    width: 65%;
    margin: 5px auto;
    height: 80vh;
    box-sizing: border-box;
}
.izquierda-div-panel2{
    color: #000000;
    margin:  15% 3% 0 10%;
    height: 50vh;
    background-size: cover;
    width: 70%;
}
.derecha-div-panel2{
    height: 40vh;
    margin:  15% 10% 0 3%;
    background-image: url(REDES-ADOLESCENTES-def-rotated.jpg);
    background-size: cover;
    background-position: center;
    width: 90%;
}
.titulo-panel2{
    font-size: 45px;
    margin: 0;
}
.texto-panel2{
    font-size: 19px;
    margin-bottom: 10%;
}

















.porque-se-ocaciona{
    border:1px solid #0d1216;
    background-image: url(Social_Media_Background.jpg);
    width: 65%;
    margin: 5px auto;
    height: 80vh;
    box-sizing: border-box;
}
.div-texto-porque-se-ocaciona{
    box-sizing: border-box;
    height: 25%;
    text-align: end;
}
.titulo-porque-se-ocaciona{
    font-size: 70px;
    margin-top: 0;
    color: #EDF0F2;
}
.div-imagenes-porque-se-ocaciona{
    margin-top: -5%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    height: 65%;
    display: flex;
    padding-top: 5%;

}
.cuadros{
    width: 30%;
    margin: auto;
}
.div-espacio-porque-se-ocaciona{
    box-sizing: border-box;
    height: 10%;
}
.imagenes{
    width: 100%;
}
.imagenes:hover{
    border: 2px solid #ffffff;
}

.nombre-imagen-porque-se-ocaciona{
    color:#EDF0F2;
}
.informacion-imagen{

    color: #BDBDBD;
}








.como-afecta{
    background-color: #EDF0F2;
    width: 65%;
    margin: auto;
    height: 80vh;
    box-sizing: border-box;
    border: 2px solid rgb(82, 82, 82);
}

.espacio{
    height: 20%;
}
.contenido{
    height: 60%;
    width: 100%;
    display: inline-flex;
}
.izquierda-div-afecta{
    background-image: url(joven-mujer-preocupada-pensando-algo-mientras-calcula-presupuesto-su-casa_637285-1938.avif);
    margin:  0% 0% 0 10%;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.derecha-div{
    color: #141223;
    margin:  0% 10% 0 5%;
    width: 100%;
}
.titulo-intro{
    margin: 0;
    font-size: 50px;
}
.texto-comoafecta{
    font-size: 19px;
    text-align: justify;
}







.prevenir{
    border:1px solid #0d1216;
    background-color: #EDF0F2;
    width: 65%;
    margin: 5px auto;
    height: 80vh;
    box-sizing: border-box;
}
.izquierda-div-panel-prevenir{
    color: #000000;
    margin:  15% 3% 0 10%;
    height: 50vh;
    background-size: cover;
    width: 70%;
}
.derecha-div-panel-prevenir{
    background-image: url(REDES-ADOLESCENTES-def-rotated.jpg);
    margin: 15% 10% -10% 3%;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.titulo-panel-prevenir{
    margin: 0;
    font-size: 45px;
}
.texto-panel-prevenir{
    font-size: 15px;
    margin-bottom: 10%;
}










.conclusion{
    background-color: #EDF0F2;
    width: 65%;
    margin: auto;
    height: 80vh;
    box-sizing: border-box;
    border: 2px solid rgb(82, 82, 82);
}

.espacio-concu{
    height: 20%;
}
.contenido-concu{
    height: 60%;
    width: 100%;
    display: inline-flex;
}
.izquierda-div-concu{
    background-image: url(/portada.jpg);
    background-size: cover;
    width: 100%;
    margin:  0% 3% 0 10%;
}
.derecha-div-concu{
    color: #141223;
    margin:  0% 10% 0 3%;
    width: 100%;
    margin-top: -2%;
}
.titulo-concu{
    margin: 0;
    font-size: 45px;
}
.texto-concu{
    font-size: 15px;
    text-align: justify;
}

























.div-final{
    border:1px solid #0d1216;
    background-image: url(Social_Media_Background.jpg);
    width: 65%;
    margin: auto;
    height: 80vh;
    box-sizing: border-box;
    margin: 10px auto; 
    margin-bottom: 5%;

}
.espacio-div-final{
    box-sizing: border-box;
    height: 25%;

}
.equipo{
    color: #fff;
    padding: 8% 30px 0 0;
}
.imagen-portada{
    background-position:center;

    background-size: cover;
    box-sizing: border-box;
    height: 35%;
}
.textos{
    box-sizing: border-box;
    height: 25%;
}
.textos-linea{
    color: #fff;
    padding: 10px 30px;
}
.titulo-final{
    font-size: 70px;
    margin: 3% 0 0 0;
}
.subtitulo-final{
    margin-left: 1%;
}
.menu{
    box-sizing: border-box;
    height: 15%;
}
.linea-nav{
    padding: 10px 30px 10px 0;

}
.nav-enlace{
    text-decoration: none;
    margin-right: 1%;
    padding: 10px 30px;
    background-color: #141414;
    color: #fff;
}
.primer-nav{
    margin-left: 3%;
}
.nav-enlace:hover{
    background-color: hsl(0, 0%, 0%);
}



@media only screen and (max-width: 1000px){
    .home-nav{
        padding: 5px 10px;
        font-size: 10px;
    }
    .buscar-nav{
        padding: 5px 10px;
    }
    .input-nav{
        padding: 5px 1px;
    }
.portada{
    height: 50vh;
}
.derecha-div-portada{
    font-size: 20px;
    height: 150%;
}
.izquierda-div-portada{
    font-size: 15px;
}




.Introduccion{
    height: 50vh;
}
.izquierda-div-panel2{
    height: 30vh;
}
.derecha-div-panel2{
    height: 30vh;
}
.titulo-panel2{
    font-size: 22px;
}
.texto-panel2{
    font-size: 10px;
}
.Descargar{
    padding: 5px 10px;
    font-size: 10px;
}


.porque-se-ocaciona{
    height: 50vh;
}
.titulo-porque-se-ocaciona{
    margin-top: 3%;
    font-size: 34px;
}
.div-imagenes-porque-se-ocaciona{
    margin-top: 8%;
}
.nombre-imagen-porque-se-ocaciona{
    font-size: 10px;
}
.informacion-imagen{
    font-size: 10px;

}
.div-texto-porque-se-ocaciona{
    height: 5%;
}

.como-afecta{
    height: 50vh;
}
.titulo-comoafecta{
    font-size: 20px;
    margin-top: 1%;
}
.texto-comoafecta{
    font-size: 14px;
}

.prevenir{
    height: 50vh;
}






.titulo-panel-prevenir{
    font-size: 20px;
}
.texto-panel-prevenir{
    font-size: 9px;
}






.conclusion{
    height: 50vh;
}
.titulo-concu{
    font-size: 20px;
}
.texto-concu{
    font-size: 11px;
}











.div-final{
    height: 50vh;
}
.titulo-final{
    font-size: 35px;
    padding-bottom: 0;
}
.subtitulo-final{
    font-size: 15px;
}
.nav-enlace{
    font-size: 10px;
    padding: 5px 10px;
    margin-left: 0%;
}
.primer-nav{
    margin-left: 5%;
}

}
@media only screen and (max-width: 800px){
    .texto-comoafecta{
        font-size: 12px;
    }
    .izquierda-div-concu{
        background-position: center;
    }
    .izquierda-div-afecta{
        background-position: right;
    }
}

@media only screen and (max-width: 619px){
    .izquierda-div-afecta{
        background-position: right;
    }
    .izquierda-div-concu{
        background-position: center;
    }
    .texto-comoafecta{
        font-size: 9px;
    }
    .texto-panel-prevenir{
        font-size: 8px;
    }
    .texto-concu{
        font-size: 9px;
    }
}


@media only screen and (max-width: 480px){ 
    .home-nav{
        padding: 5px 10px;
        font-size: 10px;
    }
    .barra-de-nav{
        padding-left:1px;
        margin-left: 1px;
    }
    .buscar-nav{
        padding: 5px 10px;
    }
    .input-nav{
        padding: 5px 1px;
    }
    .portada{
        height: 40vh;
    }
    .derecha-div-portada{
        font-size: 15px;
        height: 145%;
    }
    .izquierda-div-portada{
        font-size: 9px;
    }

    .shader{
        height: 40vh;
    }
    .titulo-panel2{
        font-size: 14px;
    }
    .texto-panel2{
        font-size: 8px;
    }



    .mas-porque-se-ocaciona{
        height: 40vh;
    }
    .titulo-porque-se-ocaciona{
        font-size: 20px;
    }
    .nombre-imagen-porque-se-ocaciona{
        font-size: 10px;
    }
    .informacion-imagen{
        font-size: 9px;
    }
    .como-afecta{
        height: 40vh;
    }
    .texto-comoafecta{
        font-size: 7px;
    }





    .div-final{
        height: 40vh;
    }
    .titulo-final{
        font-size: 20px;
        padding-bottom: 0;
    }
    .subtitulo-final{
        font-size: 15px;
    }
    .nav-enlace{
        font-size: 10px;
        padding: 5px 10px;
        margin-left: 0%;
    }
    .primer-nav{
        margin-left: 12%;
    }



}
